@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Mono", monospace;
}
*, *::before, *::after {
  box-sizing: border-box;
}


#banner {
  background: url("./img/banner.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.banner {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* Spinner style */
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #1a1a1a;
  border-top: 6px solid #df8235;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  transition: all 1.5s ease;
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-spin-scale {
  animation: spinScale 0.8s ease-out forwards;
}

@media screen and (max-width: 767px) {
.menu_items {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none; /* Initially hidden */
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_items.show {
  display: flex; /* Now it's visible */
}

.menu_items.animate-in {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.menu_items.animate-out {
  opacity: 0;
  transform: scale(1.1);
  pointer-events: none;
}

  li,
  p {
    font-size: 14px;
  }
}

.preloader {
  background-color: #c6a289;
  color: white;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.page_content {
  display: none;
}

.page_content.show {
  display: flex;
}
